*{
    margin: 0;
    padding: 0;
}
.draft-heading{
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    color: brown;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.heading-table{
    text-align: center;
}
.table-data{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.read-more2{
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;

}
.read-more2.del{
 background-color: maroon;
}